<div *ngIf="profile" class="accountSettings">
    <div class="header">
        <h2 *ngIf="!changePasswordActive">Account info</h2>
        <fa-icon *ngIf="!userEditionActive" [icon]="faInfo"  style="margin-left: -660px; margin-top:20px; cursor: pointer; color: rgba(0, 0, 0, 0.6); background: transparent; opacity:50%;" title="Your contact data. You can update them."></fa-icon>
        <fa-icon *ngIf="userEditionActive" [icon]="faInfo"  style="margin-left: -872px; margin-top:20px; cursor: pointer; color: rgba(0, 0, 0, 0.6); background: transparent; opacity:50%;" title="Your contact data. You can update them."></fa-icon>
        <div class="buttons">
            <button *ngIf="!userEditionActive && !changePasswordActive" class="settingEditBtn" routerLink="/changePassword">Change Password</button>
            <button *ngIf="!userEditionActive && !changePasswordActive" class="settingEditBtn" (click)="editionActiveToggle()">Edit</button>
        </div>
    </div>
    
    <!-- kiedy edycja nie jest aktywna -->
    <div *ngIf="!userEditionActive" class="list">
        <ng-container *ngIf="!changePasswordActive">
            <div class="row">
                <h5 class="rowTitle">Full name  </h5>
                <div *ngIf="!userEditionActive" class="rowValueWrapper">
                    <p class="rowValue">{{profile.value.fullName}}</p>
                </div>
            </div>
            <div class="row">
                <h5 class="rowTitle">Email  </h5>
                <div *ngIf="!userEditionActive" class="rowValueWrapper">
                    <p class="rowValue">{{profile.value.email}}</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="changePasswordActive">
            <app-change-password

                (changePasswordClose)="changePasswordActiveToggle()"
            ></app-change-password>
        </ng-container>

    </div>

    <!-- kiedy edycja jest aktywna -->
    <div *ngIf="userEditionActive" class="list">
        <form [formGroup]="profileEditForm" (ngSubmit)="profileOnSubmit()">
            <div class="row">
                <h5 class="rowTitle">Full name: </h5>
                <div *ngIf="userEditionActive" class="editRowValueWrapper">
                    <input formControlName="fullName" id="fullName" class="input" type="text" placeholder={{profile.value.fullName}} (focus)="isNameFocused = true" (blur)="isNameFocused = false">
                    <ng-container *ngIf="
                        profileEditForm.get('fullName')?.invalid && 
                        profileEditForm.get('fullName')?.errors &&
                        profileEditForm.get('fullName')?.dirty || 
                        profileEditForm.get('fullName')?.touched">
                        <span *ngIf="profileEditForm.get('fullName')?.hasError('required') && isNameFocused === false">
                            Full name is required!
                        </span>
                        <span *ngIf="profileEditForm.get('fullName')?.hasError('pattern') && isNameFocused === false">
                            Bad format!
                        </span>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <h5 class="rowTitle">Email: </h5>
                <div *ngIf="userEditionActive" class="editRowValueWrapper">
                    <input formControlName="email" id="email" class="input" type="text" placeholder={{profile.value.email}} (focus)="isAddMailFocused = true" (blur)="isAddMailFocused = false">
                    <ng-container *ngIf="
                        profileEditForm.get('email')?.invalid && 
                        profileEditForm.get('email')?.errors &&
                        profileEditForm.get('email')?.dirty || 
                        profileEditForm.get('email')?.touched">
                        <span *ngIf="profileEditForm.get('email')?.hasError('required') && isAddMailFocused === false">
                            Email is required!
                        </span>
                        <span *ngIf="profileEditForm.get('email')?.hasError('email') && isAddMailFocused === false">
                            Bad email format!
                        </span>
                    </ng-container>
                </div>
            </div>
        </form>
        <div class="submitBtnContainer">
            <button *ngIf="userEditionActive" [disabled]="!profileEditForm.valid" class="submitBtn" (click)="profileOnSubmit()">Confirm</button>
            <button *ngIf="userEditionActive" class="submitBtn" (click)="editionActiveToggle()">Cancel</button>
        </div>

        
        
    </div>
    
</div>
