<div class="changePassword">
    <form [formGroup]="changePasswordForm" class="changePasswordForm">
        <h2>Change password</h2>
        <div class="inputContainer">
            <input formControlName="oldPassword" [type]="showOldPassword ? 'text' : 'password'" placeholder="Old password" (focus)="isOldPasswordFocused = true" (blur)="isOldPasswordFocused = false">
            <fa-icon *ngIf="!showOldPassword" (click)="togglePassword('oldPassword')" [icon]="faEye" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>
            <fa-icon *ngIf="showOldPassword" (click)="togglePassword('oldPassword')" [icon]="faEyeSlash" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>
        </div>
            <ng-container *ngIf="
                changePasswordForm.get('oldPassword')?.invalid && 
                changePasswordForm.get('oldPassword')?.errors &&
                changePasswordForm.get('oldPassword')?.dirty || 
                changePasswordForm.get('oldPassword')?.touched">
                <span *ngIf="changePasswordForm.get('oldPassword')?.hasError('required') && isOldPasswordFocused === false">
                    Old password is required!
                </span>
            </ng-container>
            <ng-container *ngIf="!oldPasswordCorrect">
                <span>
                    Incorrect old password!
                </span>
            </ng-container>
        <div class="inputContainer">
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="New password" (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" (keyup)="checkPasswordStrength()">
            <fa-icon *ngIf="!showPassword" (click)="togglePassword('password')" [icon]="faEye" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>
            <fa-icon *ngIf="showPassword" (click)="togglePassword('password')" [icon]="faEyeSlash" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>
        </div>

            <ng-container *ngIf="passwordStrength">
                <div *ngIf="passwordStrength.id == 0" class="passwordBarContainer0"><div class="passwordBar0"></div></div>
                <div *ngIf="passwordStrength.id == 1" class="passwordBarContainer1"><div class="passwordBar1"></div></div>
                <div *ngIf="passwordStrength.id == 2" class="passwordBarContainer2"><div class="passwordBar2"></div></div>
                <div *ngIf="passwordStrength.id == 3" class="passwordBarContainer3"><div class="passwordBar3"></div></div>
            </ng-container>
            <ng-container *ngIf="passwordStrength">
                <span id="passwordVeryWeak" *ngIf="passwordStrength.id == 0">{{passwordStrength.value}}</span>
                <span id="passwordWeak" *ngIf="passwordStrength.id == 1">{{passwordStrength.value}}</span>
                <span id="passwordGood" *ngIf="passwordStrength.id == 2">{{passwordStrength.value}}</span>
                <span id="passwordVeryGood" *ngIf="passwordStrength.id == 3">{{passwordStrength.value}}</span>

            </ng-container>
            <ng-container *ngIf="
                changePasswordForm.get('password')?.invalid && 
                changePasswordForm.get('password')?.errors &&
                changePasswordForm.get('password')?.dirty || 
                changePasswordForm.get('password')?.touched">
                <span *ngIf="changePasswordForm.get('password')?.hasError('required') && isPasswordFocused === false">
                    Password is required!
                </span>
                <span *ngIf="changePasswordForm.get('password')?.hasError('noSpaceAllowed') && isPasswordFocused === false">
                    No space allowed in password!
                </span>
            </ng-container>
        <div class="inputContainer">
            <input formControlName="passwordRepeat" [type]="showPasswordRepeat ? 'text' : 'password'" placeholder="Confirm password" (focus)="isRepeatPasswordFocused = true" (blur)="isRepeatPasswordFocused = false">
            <fa-icon *ngIf="!showPasswordRepeat" (click)="togglePassword('passwordRepeat')" [icon]="faEye" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>
            <fa-icon *ngIf="showPasswordRepeat" (click)="togglePassword('passwordRepeat')" [icon]="faEyeSlash" style="margin-left: -30px; cursor: pointer; opacity: 60%;"></fa-icon>

        </div>
            <ng-container *ngIf="
                changePasswordForm.get('passwordRepeat')?.invalid && 
                changePasswordForm.get('passwordRepeat')?.errors &&
                changePasswordForm.get('passwordRepeat')?.dirty || 
                changePasswordForm.get('passwordRepeat')?.touched">
                <span *ngIf="changePasswordForm.get('passwordRepeat')?.hasError('required') && isRepeatPasswordFocused === false">
                    Password is required!
                </span>
                <span *ngIf="changePasswordForm.get('passwordRepeat')?.hasError('noSpaceAllowed') && isRepeatPasswordFocused === false">
                    No space allowed in password!
                </span>
                <span *ngIf="changePasswordForm.get('passwordRepeat')?.hasError('wrongPasswordRepeat') && isRepeatPasswordFocused === false">
                    Repeat password!
                </span>
            </ng-container>
    </form>
    <div class="passwordDescription">
        <p>Your password must be min 8 characters long, <br>contains small and capital letters, <br>number and special character.</p>
    </div>
    <div class="submitBtnContainer">
        <button [disabled]="!changePasswordForm.valid || passwordTooWeak" class="submitBtn" (click)="changePasswordOnSubmit()">Confirm</button>
        <button class="submitBtn" routerLink="">Cancel</button>
    </div>
</div>
